body {
  background-color: peru;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 100px;
}

.form,
.grettings {
  display: none;
}

.showing {
  display: block;
}
